
body{
    margin-left: 98px;
    margin-right: 98px;
    width: auto;
}

main{
    width: auto;
    display: inline-flex;
    justify-content: space-between;
}

.logo-lnk{
    font-family: "Roboto Light", serif;
    font-size: 80px;
    text-decoration: none;
    color: black;
}

.header-menu__list {
    text-align: center;
    margin-bottom: 2px;
    margin-top: 38px;
    background-color: #35444F;
}
.header-menu__item{
    display: inline-block;
    height: 72px;
    padding: 20px;
    border-style: solid;
    border-width: 0 0 0 2px;
    border-color: white;
    background-color: #35444F;
    box-sizing: border-box;
}

.header-menu__item a{

    text-decoration: none;
    color: white;
    font-family: "Roboto Light", serif;
    font-size: 24px;
}

.header-menu__item:hover{
    background-color: #222F3A;
}

.left-menu{
    width: 344px;
    height: 399px;
    border: #495863 solid 1px;
    margin-top: 50px;
}
.left-menu__list{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.left-menu__item{
    height: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.left-menu__item a{
    text-decoration: none;
    color: #495863;
    text-align: center;
    padding: 30px;
}

.left-menu__item:hover a  {
    background-color: #DBDBDB;
    color: black;
}


.content{
    margin: 50px 0 0 50px;

}

.content__img-container{
    border: #495863 solid 1px;
    height: 528px;
    text-align: center;

}

.content__img-item{
    width: 320px;
    margin-top: 76px;
}
.content__text{
    margin-top: 35px;
    max-width: 885px;
    color: #495863;
    font-size: 18px;
    font-weight: 400;
}

footer{
    margin-top: 50px;
    margin-bottom: 30px;
    width: auto;
    height: 69px;
    background-color: #63696E;

}

.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 24px;

}
.footer-content__list{
    width: 966px;
    display: inline-flex;
    justify-content: space-between;
}



.footer-content__item a{
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 30px;
}

.footer-content__item:hover a {
    color: blue;
    text-decoration: underline;
}

.footer-copyright{
    display: inline-flex;
    width: auto;
}